@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    /* color: #fff; */
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 55px;
    color: white;
    background-color: black;
}

nav ul li {
    padding: 0 12px;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease ;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round' , 'sans-serif';
    display: flex;
    margin: 23px auto;
    width: 80%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(bg12.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom{
    position: sticky;
    height: 98px;
    color: white;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 85vw;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.songItemContainer{
    margin-top: 74px;
    /* width: 400px; */
}

.songItem{
    height: 50px;
    display: flex;
    background-color: #b01fbd;
    color: rgb(255, 255, 255);
    width: 400px;
    margin: 12px 0 ;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem:hover{
    cursor: pointer;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe; 
}      

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}


.songItemPlay{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    font-family: 'Varela Round' , 'sans-serif';
    font-size: 25px;
    /* margin-top: 20px; */
    left: 7vw;
}

#gif{
    margin-top: 40px;
}


.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}


/* neon text */

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #bc13fe,
      0 0 82px #bc13fe,
      0 0 92px #bc13fe,
      0 0 102px #bc13fe,
      0 0 151px #bc13fe;
  }
    
  h1, h2 {
    text-align: center;
    font-weight: 400;
  }

  
    
  h1 {
    font-size: 2rem;
    animation: pulsate 1.5s infinite alternate;  
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe; 
  }
  
  @keyframes pulsate {
      
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #bc13fe,
        0 0 80px #bc13fe,
        0 0 90px #bc13fe,
        0 0 100px #bc13fe,
        0 0 150px #bc13fe;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #bc13fe,
      0 0 45px #bc13fe,
      0 0 55px #bc13fe,
      0 0 70px #bc13fe,
      0 0 80px #bc13fe;
  
  }
}